* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Kufam', sans-serif;
    text-decoration: none;
}

html {
    height: 100%;
}
body {
    height: 100%;
    background: #fba6e1;
    background: -moz-radial-gradient(center, ellipse cover, rgba(251,166,225,1) 0%, rgba(252,236,252,1) 0%, rgba(243,184,243,1) 50%, rgba(255,124,216,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(251,166,225,1)), color-stop(0%, rgba(252,236,252,1)), color-stop(50%, rgba(243,184,243,1)), color-stop(100%, rgba(255,124,216,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(251,166,225,1) 0%, rgba(252,236,252,1) 0%, rgba(243,184,243,1) 50%, rgba(255,124,216,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(251,166,225,1) 0%, rgba(252,236,252,1) 0%, rgba(243,184,243,1) 50%, rgba(255,124,216,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(251,166,225,1) 0%, rgba(252,236,252,1) 0%, rgba(243,184,243,1) 50%, rgba(255,124,216,1) 100%);
    background: radial-gradient(ellipse at center, rgba(251,166,225,1) 0%, rgba(252,236,252,1) 0%, rgba(243,184,243,1) 50%, rgba(255,124,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fba6e1', endColorstr='#ff7cd8', GradientType=1 );
}

h1 {    
    margin: 15px 0 10px 0;
    text-align: center;
    }

h2 {
    margin-top: 15px;
    text-align: center;
}

h3 {
    margin-top: 15px;
    text-align: center;
}

.carousel {
    border: 7px solid rgb(156, 52, 216);
    border-radius: 30px 0 30px 0;
    box-shadow: 3px 3px 9px 2px rgb(59, 9, 88);
}



.videoSobreMi {
    width: 60vw;
    border: 7px solid rgb(156, 52, 216);
    border-radius: 30px 0 30px 0;
    box-shadow: 3px 3px 9px 2px rgb(59, 9, 88);
}

.imagenesP {
    margin: 10px 0 10px 0;
    width: 300px;
    height: 260px;
    border: 7px solid rgb(156, 52, 216);
    border-radius: 30px 0 30px 0;
    box-shadow: 3px 3px 9px 2px rgb(59, 9, 88);
}

.videoclientes {
    text-align: center;
    height: 60vh;
    width: 55vw;
    border: 7px solid rgb(156, 52, 216);
    border-radius: 30px 0 30px 0;
    box-shadow: 3px 3px 9px 2px rgb(59, 9, 88);
}

footer {
    font-size: small;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu {
    background-color: #9c34d8;
    border: 7px solid rgb(156, 52, 216);
    border-radius: 10px 0 10px 0;
    box-shadow: 3px 3px 9px 2px rgb(59, 9, 88);
}

.nav-item {
    background-color: #9c34d8;
    border: 1px solid rgb(156, 52, 216);
    border-radius: 10px 0 10px 0;
    box-shadow: 3px 3px 9px 2px rgb(59, 9, 88);
}

.carousel{
    -moz-border-radius: 10px; /* FF1+ */
    -webkit-border-radius: 10px; /* Saf3-4, iOS 1+, Android 1.5+ */
    border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
    border: 5px solid rgb(156, 52, 216);
    overflow:hidden;
    z-index: 1000;
    max-width: 900px;
}



/* MOBILE FIRST */
/*------------------- INDEX -------------------*/
/*---- MOBILE ----*/
@media (max-width: 480px) {

    /*Inicio estilo del header */
.container {
    height: 290px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    grid-template-areas: "logo" "nave";
    align-items: center;
    align-content: space-around;
}
    
.box1 {
    grid-area: logo;
    text-align: center;
}
.box2 {
    grid-area: nave;
    height: 50px;
}
    
.imgLogo {
    width: 350px;
    height: 180px;
    margin: 0 0 0 10px;
}
    
.ulNav { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    } 
    
.listaNav {
    margin: 10px;
    padding: 3px;
    text-align: center;
    list-style-type:none;
    border: 3px solid rgb(156, 52, 216);
    border-radius: 8px 0 8px 0;
    background-color: #9c34d8;
    box-shadow: 2px 2px 7px 1px rgb(59, 9, 88);
}
    
.botonNav {
    background-color: rgb(156, 52, 216);
    color: rgb(236, 212, 243);
}

/* Inicio Grid del Main Main Main Main Main Main Main Main Main Main Main*/

.container2 {
    margin: 0 10px 0 10px;
    height: 290px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    grid-template-areas: 
    "tit"
    "med" 
    "par1"
    "par2"
    "par3"
    "par4"
    "par5"
    "par6"
    "par7"
    "pie";
    align-items: center;
}

.titulo {
    grid-area: tit;
}
.media {
    grid-area: med;
    text-align: center;
}
.parr1 {
    grid-area: par1;
    text-align: center;
}
.parr2 {
    grid-area: par2;
    text-align: center;
}
.parr3 {
    grid-area: par3;
    text-align: center;
}
.parr4 {
    grid-area: par4;
    text-align: center;
}
.parr5 {
    grid-area: par5;
    text-align: center;
}
.parr6 {
    grid-area: par6;
    text-align: center;
}
.parr7 {
    grid-area: par7;
    text-align: center;
}
.pieDePag {
    grid-area: pie;
}

.videoclientes {
    height: 30vh;
    width: 80vw;
}

}
/* --------------------------------------------------------------------- */








/*---- TABLET ----*/
@media (min-width: 481px) and (max-width: 1023px) {

    /*Inicio estilo del header */
    .container {
        height: 290px;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0;
        grid-template-areas: "logo" "nave";
        align-items: center;
        align-content: space-around;
    }
    
    .box1 {
        grid-area: logo;
        text-align: center;
    }
    .box2 {
        grid-area: nave;
        height: 50px;
    }
    
    .imgLogo {

        width: 350px;
        height: 180px;
        margin: 0 0 0 10px;
    }
    
    .ulNav { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
    } 
    
    .listaNav {
        margin: 10px;
        padding: 3px;
        text-align: center;
        list-style-type:none;
        border: 3px solid #9c34d8;
        border-radius: 8px 0 8px 0;
        background-color: rgb(156, 52, 216);
        box-shadow: 2px 2px 7px 1px #3b0958;
    }
    
    .botonNav {
        background-color: rgb(156, 52, 216);
        color: rgb(236, 212, 243);
    }


/* Inicio Grid del Main Main Main Main Main Main Main Main Main Main Main*/

.container2 {
    margin: 0 10px 0 10px;
    height: 290px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    grid-template-areas: 
    "tit tit"
    "med med" 
    "par1 par1"
    "par2 par2"
    "par3 par4"
    "par5 par5"
    "par6 par7"
    "pie pie";
    align-items: center;
}

.titulo {
    grid-area: tit;
}
.media {
    grid-area: med;
    text-align: center;
}
.parr1 {
    grid-area: par1;
    text-align: center;
}
.parr2 {
    grid-area: par2;
    text-align: center;
}
.parr3 {
    grid-area: par3;
    text-align: center;
}
.parr4 {
    grid-area: par4;
    text-align: center;
}
.parr5 {
    grid-area: par5;
    text-align: center;
}
.parr6 {
    grid-area: par6;
    text-align: center;
}
.parr7 {
    grid-area: par7;
    text-align: center;
}
.pieDePag {
    grid-area: pie;
}


}





/* --------------------------------------------------------------------- */






/*---- DESKTOP ----*/
@media (min-width:1024px) {


    /* Achicando el carrusel */
    .imgBienvenida {
        width: 750px;
        height: 500px;
    }
    
    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*Inicio estilo del header */
    .container {
        height: 190px;
        display:grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        grid-gap: 0;
        grid-template-areas: "logo nave";
        align-items: flex-end;
    }
    
    .box1 {
        grid-area: logo;
    }
    .box2 {
        margin-right: 20px;
        grid-area: nave;
    }
    
    .imgLogo {
        width: 350px;
        height: 180px;
        margin: 0 0 0 10px;
    }
    
    .ulNav { 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 0;
    } 
    
    .listaNav {
        margin: 15px;
        padding: 3px;
        list-style-type:none;
        border: 3px solid rgb(156, 52, 216);
        border-radius: 8px 0 8px 0;
        margin-bottom: 30px;
        background-color: rgb(156, 52, 216);
        box-shadow: 2px 2px 7px 1px rgb(59, 9, 88);
    }
    
    .botonNav {
        background-color: rgb(156, 52, 216);
        color: rgb(236, 212, 243);
    }



/* Inicio Grid del Main Main Main Main Main Main Main Main Main Main Main*/

.container2 {
    margin: 0 10px 0 10px;
    height: 290px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    grid-template-areas: 
    "tit tit tit"
    "med med med" 
    "par1 par1 par1"
    "par2 par2 par2"
    "par3 par4 par5"
    "par6 par6 par6"
    "par7 par7 par7"
    "pie pie pie";
    align-items: flex-start;
}

.titulo {
    grid-area: tit;
}
.media {
    grid-area: med;
    text-align: center;
}
.parr1 {
    grid-area: par1;
    text-align: center;
}
.parr2 {
    grid-area: par2;
    text-align: center;
}
.parr3 {
    grid-area: par3;
    text-align: center;
}
.parr4 {
    grid-area: par4;
    text-align: center;
}
.parr5 {
    grid-area: par5;
    text-align: center;
}
.parr6 {
    grid-area: par6;
    text-align: center;
}
.parr7 {
    grid-area: par7;
    text-align: center;
}
.pieDePag {
    grid-area: pie;
}
}

.listaNav {
transform: rotate(5deg);
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
}

.listaNav:hover {
    transition: 1s;
    transform: scale(1.2);
}

.imgLogo {
    transform: translate(10px,19px);
    -webkit-transform: translate(10px,19px);
    -moz-transform: translate(10px,19px);
}

.imgcont {
    width: 30px;
    height: 30px;
}