/*----------------------------- MOBILE FIRST -----------------------------*/


/*-------------------- MOBILE --------------------*/
@media (max-width: 480px) {

    /* Inicio Grid del Main*/

    .container2 {
        margin: 0 10px 0 10px;
        height: 290px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0;
        grid-template-areas:
            "tit"
            "med"
            "par1"
            "par2"
            "par3"
            "par4"
            "par5"
            "par6"
            "par7"
            "pie";
        align-items: center;


        .titulo {
            grid-area: tit;
        }

        .media {
            grid-area: med;
            text-align: center;
        }

        .parr1 {
            grid-area: par1;
            text-align: center;
        }

        .parr2 {
            grid-area: par2;
            text-align: center;
        }

        .parr3 {
            grid-area: par3;
            text-align: center;
        }

        .parr4 {
            grid-area: par4;
            text-align: center;
        }

        .parr5 {
            grid-area: par5;
            text-align: center;
        }

        .parr6 {
            grid-area: par6;
            text-align: center;
        }

        .parr7 {
            grid-area: par7;
            text-align: center;
        }

        .pieDePag {
            grid-area: pie;
        }

        .videoclientes {
            height: 30vh;
            width: 80vw;
        }
    }
    
    /* Width 100% de localidad en footer mobile */
    .locaFoot {
        width: 100%;
    }
        
}

/*-------------------- TABLET --------------------*/
@media (min-width: 481px) and (max-width: 1023px) {

    /* Inicio Grid del Main*/
    .container2 {
        margin: 0 10px 0 10px;
        height: 290px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0;
        grid-template-areas:
            "tit tit"
            "med med"
            "par1 par1"
            "par2 par2"
            "par3 par4"
            "par5 par5"
            "par6 par7"
            "pie pie";
        align-items: stretch;


        .titulo {
            grid-area: tit;
        }

        .media {
            grid-area: med;
            text-align: center;
        }

        .parr1 {
            grid-area: par1;
            text-align: center;
        }

        .parr2 {
            grid-area: par2;
            text-align: center;
        }

        .parr3 {
            grid-area: par3;
            text-align: center;
        }

        .parr4 {
            grid-area: par4;
            text-align: center;
        }

        .parr5 {
            grid-area: par5;
            text-align: center;
        }

        .parr6 {
            grid-area: par6;
            text-align: center;
        }

        .parr7 {
            grid-area: par7;
            text-align: center;
        }

        .pieDePag {
            grid-area: pie;
        }
    }
    /* Width 100% de localidad en footer tablet */
    .locaFoot {
        width: 100%;
    }

}


/*-------------------- DESKTOP --------------------*/
@media (min-width:1024px) {


    /* Achicando el carrusel para la vista mobile */
    .imgBienvenida {
        width: 750px;
        height: 500px;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    /* Inicio Grid del Main */

    .container2 {
        margin: 0 10px 0 10px;
        height: 290px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0;
        grid-template-areas:
            "tit tit tit"
            "med med med"
            "par1 par1 par1"
            "par2 par2 par2"
            "par3 par4 par5"
            "par6 par6 par6"
            "par7 par7 par7"
            "pie pie pie";
        align-items: stretch;


        .titulo {
            grid-area: tit;
        }

        .media {
            grid-area: med;
            text-align: center;
        }

        .parr1 {
            grid-area: par1;
            text-align: center;
        }

        .parr2 {
            grid-area: par2;
            text-align: center;
        }

        .parr3 {
            grid-area: par3;
            text-align: center;
        }

        .parr4 {
            grid-area: par4;
            text-align: center;
        }

        .parr5 {
            grid-area: par5;
            text-align: center;
        }

        .parr6 {
            grid-area: par6;
            text-align: center;
        }

        .parr7 {
            grid-area: par7;
            text-align: center;
        }

        .pieDePag {
            grid-area: pie;
        }
    }

    /* elevar nav para desktop */
    .navbar-collapse{
        margin-bottom: 20px;
    }

}